server {
        listen 80;
        server_name 127.0.0.1 223.130.133.206 223.130.160.118;

        location / {
                proxy_pass http://lion-app:8000;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
        }

        location /static/ {
                alias /var/www/html/static/;
                autoindex off;
        }
}